{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Office Hours</h1>
  <p class="lead">Queue up for your remote meeting!</p>
  {% if not request.user.is_authenticated and not netdash_modules %}
  <a href="{% url 'oidc_authentication_init' %}" class="btn btn-dark btn-lg">Login</a>
  {% else %}
  <form class="form-inline" method="get" action="{% url 'meeting_search' %}">
    <div class="input-group">
      <input type="text" class="form-control" name="uniqname" placeholder="Uniqname..."/>
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Visit Queue</button>
      </div>
    </div>
  </form>
  <hr/>
  <a href="{% url 'manage' %}">
    Manage Your Own Queue
  </a>
  {% endif %}
</div>

{% endblock %}
