{% extends "base.html" %}
{% load static %}

{% block content %}

<h2>Welcome to {{ owner.get_full_name }}'s meeting queue.</h2>

<div class="container-fluid content">
  <div class="row">
    <div class="col-lg">
  {% if not meeting %}
  <ul>
  <li>Number of people currently in line: <strong>{{ queue_length }}</strong></li>
  <li>You are not in the meeting queue yet</li>
  </ul>
  {% else %}
    {% if queued_ahead == 0 %}
      <div id="turn-now" class="alert alert-success" role="alert">
        <strong>It's your turn!</strong> If you haven't already joined the meeting, join it now!
      </div>
    {% elif queued_ahead <= 5 %}
      <div id="turn-soon" class="alert alert-warning" role="alert">
        <strong>Your turn is coming up!</strong> Join the meeting now so you are ready when {{ owner.get_full_name }} joins.
      </div>
    {% endif %}
  <ul>
    <li>You are in line to meet with {{ owner.get_full_name }}</li>
    {% if queued_ahead == 1 %}
      <li>There is <strong>{{ queued_ahead }} person</strong> in line ahead of you</li>
    {% else %}
      <li>There are <strong>{{ queued_ahead }} people</strong> in line ahead of you</li>
    {% endif %}
    <li>{{ owner.get_full_name }} will join the BlueJeans meeting when it is your turn</li>
    <li>We'll show a message in this window when your turn is coming up--keep an eye on the window so you don't miss it!</li>
</ul>
</div>
<div class="col-sm">
<div class="card" style="width: 100%;">
<div class="card-body">
<h5 class="card-title">Join the BlueJeans Meeting</h5>
<p class="card-text">Join now so you can make sure you are set up and ready. Download the app and test your audio before it is your turn.</p>
<p class="card-text">Having problems with video? As a back-up, you can call 1.312.216.0325 from the USA (or 1.416.900.2956 from Canada) from any phone and enter {{ meeting.bjn_meeting_id }}#. You are not a moderator, so you do not need a moderator passcode.</p>
<a href="{{ meeting.bjn_meeting_url }}" class="card-link">Join the meeting</a>
<a href="https://its.umich.edu/communication/videoconferencing/blue-jeans/getting-started" class="card-link">How to use BlueJeans at U-M</a>
</div>
</div>
</div>
{% endif %}
</div>
</div>
<br/>

<form class="form-inline" method="post" onsubmit="submit.disabled = true; clearTimeout(reloadTimer); return true;" action="{% url 'meeting' owner %}">
  {% csrf_token %}
  {% if not meeting %}
  <input type="hidden" name="action" value="join" />
  <button type="submit" name="submit" class="btn btn-primary">Join the line</button>
  {% else %}
  <input type="hidden" name="action" value="leave" />
  <button type="submit" name="submit" onclick="return confirm('Are you sure?');" class="btn btn-warning">Leave the line</button>
  <!-- <button id="enablenotifications" type="button" onclick="requestNotify()" class="btn btn-info">Enable Notifications</button> -->
  {% endif %}
</form>

{% if owner == request.user %}
<br/>
<p class="alert alert-info col-lg">
  This is your queue, you can
  <a href="{% url 'manage' %}">manage it</a>.
</p>
{% endif %}

<hr />
<a target="_blank" href="https://documentation.its.umich.edu/node/1833">
    Learn more about using Remote Office Hours Queue as an attendee
</a>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/notification.js' %}"></script>
<script type="text/javascript">
window.onload = () => {
  // if (Notification.permission === "granted") {
  //   document.querySelector('#enablenotifications').remove();
  // }
  const reloadTimer = setTimeout(() => location.reload(), 10000);
  // notify();
}
</script>
{% endblock %}
