{% extends 'base.html' %}

{% block content %}

<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
  <h1>Page Not Found</h1>
  <p><strong>We're sorry, the page you were looking for can't be located.</strong> If you typed in the address, you may have typed it incorrectly. If you think this is the case, please try retyping the address and resubmitting the page. If you arrived at this page from a link or bookmark, the page may no longer be available on the web. This could also be a temporary problem.</p>
  <p>Need Help? Contact the <a href="http://its.umich.edu/help/" target="_blank">ITS Service Center.</a></p>
</div>

{% endblock %}
