{% load static %}
<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/navicon.png' %}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  {% block styles %}{% endblock %}
  <title>Office Hours - {% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" height="20" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
      </ul>
      <div class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        {% if FEEDBACK_EMAIL %}
        <li class="nav-item">
          <a 
            class="nav-link active" 
            target="_blank" 
            href="mailto:{{ FEEDBACK_EMAIL }}?subject=Office Hours Feedback&body=Let us know what you think! Details and screenshots are helpful and appreciated.%0D%0A%0D%0AURL: {{ request.build_absolute_uri }}%0D%0ATechnical Details: {{ request.headers }}">
            Feedback
          </a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ request.user.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="userMenu">
            <form action="{% url 'oidc_logout' %}" method="post">
              <input type="submit" value="logout" class="dropdown-item">
            </form>
          </div>
        </li>
        {% else %}
        <a href="{% url 'oidc_authentication_init' %}" class="nav-link">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <main role="main" class="container-fluid">

    <div class="starter-template">
      {% block content %}
      {% endblock %}
    </div>

  </main><!-- /.container -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% block scripts %}{% endblock %}
</body>

</html>
