:root {
	--dark-blue: #00274C;
	--med-blue: #40658F;
	--light-blue: #6189b7;
}

body {
	background: #fffefe;
	font-family: Roboto, sans-serif;
	color: #333333;
	overflow-y: scroll;
	font-size: 1em;
}

#skip-link {
	position: absolute;
	z-index: 9999;
}

.container {
	padding-right: 20px;
	padding-left: 20px;
}

.navbar {
	padding: 0;
}

@media (max-width:991.98px) {
	.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
		padding-right: 20px;
		padding-left: 20px;
	}
}

.navbar a:link, .navbar a:visited {
	color: #ffffff;
}

@media (min-width: 768px) {
	.navbar .navbar-brand {
		display: none;
	}
}

.navbar .dropdown-item {
	white-space: normal;
}

.container {
	max-width: 1280px;
}

#aux-nav {
	background: #00274c;
	color: #ffffff;
}

#aux-nav .navbar-brand {
	display: inline-block;
	width: 80%;
	margin: 0;
	padding: 20px 0;
}

@media (min-width:768px) {
	#aux-nav .navbar-brand {
		width: 100%;
		max-width: 472px;
	}
}

#aux-nav .navbar-brand .logo {
	display: block;
	width: 100%;
	max-width: 472px;
	height: 0;
	margin: 0;
	padding: 11.01694915254237% 0 0 0;
	background: url('srs-banner.png') 50% 50% no-repeat;
	background-size: contain;
	text-indent: -999999px;
	overflow: hidden;
}

#aux-nav button:focus {
	outline: 1px dotted #ffffff;
}

#aux-nav .nav-item {
	margin-left: 15px;
}

#aux-nav .nav-link {
	padding: 10px;
}

#aux-nav .dropdown-menu {
	margin: 0;
	padding: 0;
	background: #003867;
	border: 0;
	border-radius: 0;
}

#aux-nav .dropdown-item {
	padding: .5rem 10px;
}

#aux-nav .dropdown-item:focus, #aux-nav .dropdown-item:hover {
	background: #004881;
}

#aux-nav .nav-item a:focus {
	outline: 1px dotted #5a5454;
	background: #004881;
}

#aux-nav .nav-item a:hover {
	background: #004881;
}

#aux-nav .nav-item li:hover {
	background: #003867;
}

@media (max-width:992px) {
	#aux-nav .navbar-nav {
		margin: 0 -10px 10px -10px !important;
	}
	#aux-nav .nav-item {
		margin: 0;
	}
}

@media (min-width:992px) {
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
	.dropdown>.dropdown-toggle:active {
		/*Without this, clicking will make it sticky*/
		pointer-events: none;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 1em 0 .5em 0;
	font-weight: 700;
}

h1, .h1 {
	margin: .75em 0 .5em 0;
	color: #00274c;
}

h2, .h2 {
	color: #40658f;
}

h3, .h3 {
	color: #555555;
}

.alert {
	padding: 1.25rem;
}

.alert .h4.alert-heading {
	margin-top: 0;
}

.border-dark {
	border-color: #cecbc9 !important;
}

a:not(.btn), a:link:not(.btn), a:visited:not(.btn) {
	color: #0075bc;
}

a:hover {
	color: #0065a3;
}

.bottom-right {
	position: fixed;
	bottom: 0;
	right: 12px;
	z-index: 9999
}

.jumbotron {
	padding: 1.25rem;
}

.btn-danger {
	background-color: #CC0000;
	border-color: #cc0000;
}

.btn-danger:hover.btn-danger:not(:disabled), .btn-danger:focus.btn-danger:not(:disabled) {
/* .btn-danger:hover, .btn-danger:focus { */
	background-color: #BF0102;
	border-color: #BF0102;
}

.card-deck {
	display: flex;
	flex-direction: column;
	flex-flow: row wrap;
	margin-bottom: 2rem;
}

.card-deck>.card {
	flex-wrap: wrap;
	flex: initial;
	width: 46%;
	margin: 10px;
	border: 1px solid #cecbc9;
	vertical-align: middle;
}

@media (max-width:575px) {
	.card-deck>.card {
		width: 100%;
	}
}

.card-deck .card.col-12 {
	padding: 0;
}

.navbar-light .navbar-nav .nav-link {
	border-radius: 4px;
}

.navbar-light .navbar-nav .active>.nav-link {
	background-color: #e4e1df;
	padding: 10px;
}

.navbar-light .navbar-nav .nav-item>.nav-link {
	padding: 10px;
}

#aux-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
	background-color: #e4e1df;
}

.navbar-light .navbar-nav .nav-link:focus {
	background-color: #e4e1df;
	border-radius: 4px;
}

.navbar-nav .nav-item>.nav-link.active {
	background-color: #6189b7 !important;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus, .nav-pills .show>.nav-link {
	border-color: #e4e1df;
	background-color: #e4e1df;
	color: #555555;
	cursor: default;
}

/*.nav-pills a.nav-link:not(.active):hover*/

.nav-pills a.nav-link:hover {
	background-color: #0075bc;
	color: #ffffff;
}

.nav-pills a.nav-link.disabled {
	color: #655a52;
}

a.nav-link.disabled:hover, a.nav-link.disabled:active, a.nav-link.disabled:focus {
	border-color: transparent !important;
	background-color: transparent !important;
	color: #655a52 !important;
}

.nav-pills a.nav-link.disabled:hover {
	cursor: default;
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	border-color: #0075bc;
	background-color: #0075bc;
	color: #ffffff;
}

.btn-primary:hover {
	border-color: #0065a3;
	background-color: #0065a3;
	color: #ffffff;
}

.btn-outline-primary {
	border-color: #0075bc;
	color: #0075bc;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
	background-color: #0065a3;
	border-color: #0065a3;
	color: #ffffff;
}

.btn-outline-secondary {
	border-color: #655a52;
	color: #655a52;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
	border-color: #655a52;
	background-color: #655a52;
	color: #ffffff;
}

.btn-outline-success {
	border-color: #28A745;
	color: #28A745;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success.selected {
	border-color: #28A745;
	background-color: #28A745;
	color: #ffffff;
}

.btn-link {
	color: #0075bc;
}

.btn-link:hover {
	color: #0065a3;
	cursor: pointer;
}

.card-items>.card {
	margin-bottom: 1.25em;
}

@media (max-width:768px) {
	.card-items>.card {
		width: 100% !important;
	}
}

#scrollTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #D6D8DB;
	color: #333333;
	cursor: pointer;
	padding: 15px;
	border-radius: 12px;
	font-weight: bold;
}

#scrollTop:hover {
	background-color: #e4e1df;
}

.order-details-list {
	padding-left: 20px;
	margin-bottom: 0rem;
}

div h2:first-of-type {
	margin-top: .5rem;
}

h2.lead {
	font-weight: 700;
}

h3.lead {
	margin: 1.25rem 0 .5em 10px;
	font-size: 1.75rem;
	font-weight: 700;
}

h3.alert-heading {
	margin-top: .75rem;
	color: #555555;
}

.card-bottom {
	padding-bottom: 0;
}

.card-top {
	padding-top: 0;
}

.card-middle {
	margin-bottom: 20px;
	font-size: 1.25rem;
	background-color: #ececec;
	color: #393939;
}

.card-text-spacing {
	margin-bottom: 5px;
}

.card-header {
	font-size: 1.25rem;
	font-weight: bold;
}

.card-width {
	width: 83%;
}

.select-button {
	display: block;
	margin: 0 auto;
}

.selected-card {
	border-color: #28a745 !important;
	box-shadow: 5px 5px 10px grey;
	border-width: 3px !important;
}

.horizontal-card {
	display: flex;
}

.row-cards>.card {
	width: 100%;
}

@media (max-width:910px) and (min-width:600px) {
	.card-columns {
		column-count: 2;
	}
	.card-columns>.card {
		margin: 0 auto;
	}
}

@media (max-width:599px) {
	.card-columns {
		column-count: 1;
	}
	.card-columns>.card {
		margin: 0 auto;
	}
}

.border-secondary {
	border-color: #cecbc9 !important;
}

.text-muted {
	color: #655a52 !important;
}

.form-row {
	margin-right: auto;
	margin-left: auto;
}

.form-control {
	border: 1px solid #cecbc9;
}

.form-control-remaining.is-invalid {
	background-image: none;
}

/* Overrides styling of feedback so it can be used consistently, anywhere */
.form-feedback {
	color: #333333;
	font-size: 1rem;
	font-weight: 400;
	padding-top: 0.25rem;
	padding-right: 0.5rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
}

.remaining-controls-group {
	margin: 0;
	padding: 0;
	text-align: right;
}

.remaining-controls {
	margin-left: 20px;
}

.page-content-flow {
	margin-top: 0.5rem;
}

.input-group-text {
	border: 1px solid #cecbc9;
	background-color: #f4f3f2;
	color: #333333;
}

.select2-container {
	width: 100% !important;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #cecbc9;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #cecbc9;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #cecbc9;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #cecbc9;
}

.table thead th {
	border-top: 1px solid #cecbc9;
	background-color: #e4e1df;
}

.table .thead-dark th {
	background-color: #333333;
	border-color: #333333;
	color: #ffffff;
}

.table td, .table th {
	padding: .5rem 1rem;
	border-bottom: 1px solid #cecbc9 !important;
}

.table-sm td, .table-sm th {
	padding: .5rem 1rem;
}

.table-striped tbody tr:nth-of-type(odd), .table-striped tbody tr:nth-of-type(even) {
	background-color: transparent;
}

.table-striped tbody tr:nth-of-type(odd):hover, .table-striped tbody tr:nth-of-type(even):hover {
	background-color: #f4f3f2;
}

.table-hover tbody tr:hover {
	background-color: #c9e5ee;
}

.table tbody+tbody {
	border-top: 0;
}

.table td a {
	display: block;
}

.assign {
	min-width: 160px;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(3, auto);
}

.card-grid-4 {
	display: grid;
	grid-template-columns: repeat(4, auto);
}

.card-grid-soc {
	display: grid;
	grid-template-columns: repeat(2, auto);
}

legend {
	font-size: 1rem;
}

pre {
	width: inherit !important;
}

.card-not-selected {
	border-color: #cc0000 !important;
	border-width: 3px !important;
}

@media (min-width:992px) {
	.nav-bar-links {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

div[role=main] {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.breadcrumb .breadcrumb-item {
	color: black;
}

.breadcrumb .breadcrumb-item::before {
	color: black;
}

.bottom-content {
	margin-top: 20px;
}

.center-align {
	display:flex;
	justify-content: center;
}

.select-dropdown {
	background-color: #dcdcdc;
	color: #393939;
}

.required {
	color: #cc0000;
}

.meeting-type-text-container {
	display: flex;
	align-items: flex-end;
}

.meeting-type-message {
	padding-left: 5px
}

.queue-table-badge {
	font-size: 90%;
}
