{% extends 'base.html' %}

{% block content %}
  	{% if validlink %}
		<h1>Change password</h1>
		<form method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="new_password">New password:</label>
				<input class="form-control" type="password" name="new_password1" autocomplete="new-password" placeholder="New password" required id="new_password">
			</div>

			<ul>
				<li>Your password can’t be too similar to your other personal information.</li>
				<li>Your password must contain at least 8 characters.</li>
				<li>Your password can’t be a commonly used password.</li>
				<li>Your password can’t be entirely numeric.</li>
				{% for field, errors in form.errors.items %}
					{% for error in errors %}
					<li>{{ error }}</li>
					{% endfor %}
				{% endfor %}
			</ul>

			<div class="form-group">
				<label for="new_password_confirmation">New password confirmation:</label>
				<input class="form-control" type="password" name="new_password2" autocomplete="new-password" placeholder="New password confirmation" required id="new_password_confirmation">
			</div>
			<button type="submit" class="btn btn-primary">Change password</button>
		</form>
	{% else %}
		<div class="alert alert-danger" role="alert">
			The password reset link was invalid, possibly because it has already been used.
			Please request a new password reset.
		</div>
  	{% endif %}
{% endblock %}
